/*Reset css*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Readex+Pro:wght@200;300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'inter', sans-serif;
}

h1 {
  font-size: 25px;
  color: #7829f1;
}

h2 {
  font-size: 38px;
  color: #7829f1;
}

p {
  color: #707070;
}

/*Variables*/

$purple: #7829f1;
$primary-color: #707070;
$bg-green: #a8e1d7;
$sand: #faf9f5;

body {
  background: $bg-green;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.container {
  width: 1000px;
  height: 500px;
  background: $sand;
  border-radius: 1%;
  display: flex;
}

.menu {
  width: 70px;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  svg {
    width: 100%;
    height: 50px;
    padding: 10px;
  }

  .selected {
    color: $purple;
  }
}

.board-container {
  width: 100%;
  height: 100%;
  border-radius: 5px;

  position: relative;

  display: flex;
  align-items: center;
  -webkit-box-shadow: 8px 12px 13px -8px rgba(0, 0, 0, 0.61);
  box-shadow: 8px 12px 13px -8px rgba(0, 0, 0, 0.61);

  .board {
    background: white;
    width: 600px;
    height: 370px;

    display: flex;
    position: absolute;
    right: 30px;

    border-radius: 70px;
    padding: 0 30px;
    -webkit-box-shadow: 8px 12px 20px -7px rgba(0, 0, 0, 0.61);
    box-shadow: 8px 12px 20px -7px rgba(0, 0, 0, 0.61);

    animation: board-right-grow 0.6s;

    .board-left,
    .board-right {
      width: 50%;
      height: 100%;
      overflow: hidden;
      scroll-behavior: smooth;

      .info-img {
        margin-top: 15px;
        height: 150px;
        border-radius: 16px;
      }
    }

    .inline-content {
      display: flex;
      align-items: center;

      svg {
        margin: 0 5px;
      }
    }

    .header {
      svg {
        color: $purple;
        width: 30px;
        height: 30px;
      }
    }
    .subheader {
      svg {
        color: $primary-color;
      }
    }
    .board-right {
      p {
        margin: 5px 0;
      }
      h2 {
        font-weight: 500;
        margin: 20px 0;
      }
    }

    .card {
      height: 100%;
      padding: 40px;
    }
  }

  .flex-board {
    width: 600px;
    height: 370px;
    background: $purple;
    border-radius: 70px;

    position: absolute;
    right: 300px;

    .illustration {
      width: 200px;
      position: absolute;
      top: -50px;
      left: 70px;
      opacity: 1;
    }
  }

  .flex-board-open {
    animation: board-right-grow 0.7s ease 0s forwards;

    .illustration {
      animation: show 0.5s forwards;
    }
  }

  .flex-board-close {
    animation: board-right-shrink 0.7s ease 0s forwards;

    .illustration {
      animation: hide 0.5s forwards;
    }
  }
}

@keyframes board-right-grow {
  0% {
    width: 0;
  }

  100% {
    width: 600px;
  }
}

@keyframes board-right-shrink {
  0% {
    width: 600px;
  }

  100% {
    width: 0%;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
